=render :partial=>'search_form'

%h3 Search games
-if @games && @games.count>0
  %p
    = @games.count
    results
  %table#results
    %thead
      %tr
        %th Id
        %th Date
        %th White
        %th Black
        %th Result
        %th Notation
    %tbody
      - @games.each do |game|
        %tr
          %td= game.id
          %td= DateTime.strptime((game.date/1000).to_s, '%s').to_s

          %td= game.player_white
          %td= game.player_black

          %td= game.result
          %td= game.notation

-else
  No results found!
