=render :partial=>'search_form'

%h4.text-center Results
//-if @games && @games.count>0
%p
.container
  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Time (UTC)
        %th Size
        %th White
        %th Black
        %th Result
        //%th.hidden Notation
        %th Notation
        %th Review
    %tbody
      - if @games && @games.count>0
        - @games.each do |game|
          - if @player_search and game.date < 1461430800000; next; end

          %tr
            %td= game.id
            - dt = DateTime.strptime((game.date/1000).to_s, '%s').to_s
            %td= (dt.gsub 'T', ' ').gsub '+00:00', ''
            %td= game.size.to_s+'x'+game.size.to_s

            - if game.date < 1461430800000
              %td= 'Anon'
              %td= 'Anon'
            - else
              %td= game.player_white
              %td= game.player_black

            %td= game.result
            //%td.hidden= game.notation
            //%td{:onclick=>"download("+game.id.to_s+");"} Download
            %td
              = link_to "Download", game_path(game.id)
              %br
                = link_to "View", view_game_path(game.id), target: "_blank"
            %td
              = link_to "ptn.ninja", ninjaviewer_game_path(game.id), target: "_blank"
              %br
              = link_to "jsfiddle", ptnviewer_game_path(game.id), target: "_blank"
//-else
//  No results found!
