=render :partial=>'search_form'

%h3 Search games
-if @games && @games.count>0
  %p
  .container
    %table.table.table-striped
      %thead
        %tr
          %th Id
          %th Date
          %th White
          %th Black
          %th Result
          %th Notation
      %tbody
        - @games.each do |game|
          - if @player_search and game.date < 1461430800000; next; end

          %tr
            %td= game.id
            - dt = DateTime.strptime((game.date/1000).to_s, '%s').to_s
            %td= (dt.gsub 'T', ' ').gsub '+00:00', ''

            - if game.date < 1461430800000
              %td= 'Anon'
              %td= 'Anon'
            - else
              %td= game.player_white
              %td= game.player_black

            %td= game.result
            %td= game.notation

-else
  No results found!
