=render :partial=>'search_form'

%h4.text-center
  - if @prev_offset
    =link_to "<", params.deep_merge({:game => {:offset => @prev_offset}})
  -else
    <
  Results
  - if @next_offset
    =link_to ">", params.deep_merge({:game => {:offset => @next_offset}})
  -else
    >
//-if @games && @games.count>0
%p
.container
  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Time (UTC)
        %th Size
        %th Clock
        %th White
        %th Black
        %th Result
        //%th.hidden Notation
        %th Notation
        %th Review
    %tbody
      - if @games && @games.count>0
        - @games.each do |game|
          - if @player_search and game.date < 1461430800000; next; end

          %tr
            %td= game.id
            - dt = DateTime.strptime((game.date/1000).to_s, '%s').to_s
            %td= (dt.gsub 'T', ' ').gsub '+00:00', ''
            %td= game.size.to_s+'x'+game.size.to_s

            - if game.timertime == 0 and game.timerinc == 0
              %td= '-'
            -else
              %td= (game.timertime/60).to_s+':'+(game.timertime%60).to_s+' +'+game.timerinc.to_s

            - if game.date < 1461430800000
              %td= 'Anon'
              %td= 'Anon'
            - else
              %td= game.player_white
              %td= game.player_black

            %td= game.result

            %td
              = link_to "Download", game_path(game.id)
              %br
                = link_to "View", view_game_path(game.id), target: "_blank"
            %td
              = link_to "ptn.ninja", ninjaviewer_game_path(game.id), target: "_blank"
              %br
              = link_to "jsfiddle", ptnviewer_game_path(game.id), target: "_blank"
//-else
//  No results found!
